*{
    margin: 0;
    padding: 0;
    background-position: center;
}

:root {
    font-family: "Open Sans", sans-serif;
    
}

#page{
    box-sizing: border-box;
    margin: 88px 80px  ;
    color: #333333;
    width: 1120px;
    
   
}

section {
    color: #E1624F;
    font-size: 16;
    font-weight: bold;
   
    
}

h1 {
   font-size: 36px;
   font-weight: bold;
   color: #1B1B1B;
}

h1 + img {
    margin-top: 40px ;
}

img {
    border-radius: 28px;
}

#description {
    font-size: 16px;
    font-style: italic;
    padding-top: 24px;
    padding-bottom: 40px;
    text-align: center;
       
}


#content{
    color:#333333;
    border-top-style: groove ;
    border-bottom-style: groove;
    padding-top: 64px ;
    padding-bottom: 40px;
}

h2{
    font-size: 32px;
    font-weight: 700px;
    color: #1B1B1B;
    padding-bottom: 8px;
    
}

#initial {
    font-size: 16px;
    padding-bottom: 64px;
}

p{
    font-size: 16px;
    
}

h3{
    padding-top: 20px;
    padding-bottom: 4px;
    font-size: 28px;
    font-weight: bold;
    
}

ul{
    padding-top: 40px;
    font-weight: bold;
}

#history{
    color:#0C51A7;
    margin-left: 25px;
    padding-bottom: 48px;
}

li{
    margin-left: 25px;
    
}

#couple{
    color:#591B98
}

#family{
    color:#E5245E
}

#budget{
    color: #E95E10;
}

#final{
   padding-top: 40px;
   text-align: center;
}

footer{
    text-align: center;
    padding-bottom: 48px;
    font-family: "Alice", serif;
}